body {
  font-family: 'Orbitron', sans-serif;
  background-color: #481a65;
  color: #fff;
  position: relative;
}


h2, h4{
  text-align:center;

}

p{
  color: black;
  margin-top: 10px;

}

#quoteBox {
  background-color: #fff;
  min-height: 200px;
  max-height: 400px;
  margin-top: 20px;
  border-radius: 4px;
}

#quoteBox > p {
  text-align: center;
  padding: 20px 10px 0 10px;
  font-size: 25px;
}

p > #author {
font-style: italic;
font-size: 15px;
}

#newQuote,#tweet{
  color: #481a65;
  background-color: #fff;
  margin: 20px 40px;
}

div .buttons{
  text-align: center;
}

footer a {
  text-decoration: none;
  color:#9f9f9f;
}

footer p{
  color: #fff;
}

@media only screen and (max-width: 768px) {

    #quoteBox > p {
      font-size: 15px;
    }
    p > #author {
    font-size: 12px;
    }

}
